.login-wrapper {
    overflow: hidden;
    width: 100%;
}

.login-container {
    width: 200%;
    display: flex;
    transition: 0.5s;
}

.login, .register {
    flex: 0 0 50%;
    padding: 10px;
    padding-top: 50px;
}

.login-form-button, .register-form-button, .goto-button {
    width: 100%;
}