.plan-card {
    display: flex;
    flex-direction: column;
}

.plan-date {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.btn-plan-add {
    margin-bottom: 12px;
    display: flex;
    justify-content: end;
}