.plan-card {
    display: flex;
    flex-direction: column;
}

.plan-date {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.btn-plan-add {
    margin-bottom: 12px;
    display: flex;
    justify-content: end;
}

.plan-item {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-item>div {
    margin-bottom: -2.5px;
}

.plan-item>div>:nth-child(1){
    margin-right: 6px;
}